@import './common/vars.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  /* color: blue; */
  @apply text-violet-600
}

h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  @apply my-2;
  /* font: optional; */
}

p, li {
  @apply my-2;
}

@layer base {
  .markdown-body {
    h1 {
      @apply text-3xl font-bold my-4; /* 覆盖 Tailwind 的默认重置 */
    }
    p {
      @apply my-2; /* 恢复段落间距 */
    }
    ul {
      @apply list-disc pl-8; /* 恢复列表样式 */
    }
    a {
      @apply text-blue-600 underline; /* 自定义链接样式 */
    }
    blockquote {
      border-left: 4px solid #e1e6eb;
      margin: 10px 0 15px;
      padding-left: 15px;
    }
  }
}